.about-page {
    background-color: whitesmoke;
    padding: 1rem;
}

.about-page .component-title {
    margin-top: 70px;
}

.about-page .nutshell {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .about-page {
      padding: 8rem;
      font-size: 1.25rem;
    }

}