.about-page {
    background-color: whitesmoke;
    padding: 0 1rem 1rem; 
}

/* .about-page .component-title {
    margin-top: 60px;
} */

.about-page .nutshell {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .about-page {
      padding: 8rem;
      font-size: 1.25rem;
    }

}