.about-page {
    /* background-color: #FFE433; */
    background-color: grey;
    padding: 1rem;
}

.about-page .nutshell {
    font-weight: bold;
}

.about-page .nutshell-text {
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .about-page {
      padding: 3rem;
      font-size: 1.25rem;
    }
}