.intro-content {
    /* background-image: url("https://images.unsplash.com/photo-1552056972-b7627d200b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: linear-gradient(white, #f5d7e3); */
    background-color: #fff;
    padding: 1rem;
    color: black;
    padding-top: 0rem;
    padding-bottom: 12rem;
}

.find-me {
    margin-bottom: 0rem;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.intro-content .welcome-en {
    margin-top: 220px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.intro-content .welcome-fr {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.intro-content .email {
    color: grey;
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.intro-content .name {
    margin-bottom: 0;
}
.intro-content .phonetics {
    font-style: italic;
}

.intro-content .links {
    text-decoration: none;
    color: black;
    /* color: #e23e57; */
}
  
@media screen and (min-width: 600px) {
    .intro-content {
        padding: 8rem;
        padding-top: 0rem;
        padding-bottom: 12rem;
        font-size: 2rem;   
    }

}