.projects-container {
    background-color: #fff;
    margin-left: 1rem;
    margin-top: 110px;
}

.project-content .project-img {
    width: 340px;
    border-radius: 1rem;
    height: 200px;
    margin-bottom: 15px;

}

.projects-container .component-title {
    margin-top: 110px;
}

.three {
    margin-top: 110px
}
button {
   background-color: #fff;
   border-radius: 0.25rem;
}

button:hover {
    background-color: lightskyblue;
}
.project-code {
    text-decoration: none;
    color: black;
}

.project-content .project-text {
    padding: 0rem 0.5rem;
    /* border: 2px solid lightskyblue; 
    border-radius: 1rem; */
    margin-bottom: 5rem;
    margin-right: 1rem;
}

@media screen and (min-width: 600px) {

    .projects-container {
        margin-left: 3rem;
        font-size: 1.25rem;
        margin-top: 110px;
    }

    .project-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .project-content .project-img {
        width: 640px;
        border-radius: 1rem;
        height: 400px;
    }

    .project-content .project-text {
        margin-right: 3rem;
        font-size: 1.25rem;
    }

    button {
        font-size: 1rem;
    }
}
