.projects-container {
    background-color: #fff;
    margin-left: 1rem;
    margin-top: 60px;
}

.project-content .project-img {
    width: 340px;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 15px;
    box-shadow: 8px 8px 16px lightgrey;
}

/* .projects-container .component-title {
    margin-top: 110px;
} */

/* .three {
    margin-top: 110px
} */
button {
   background-color: #fff;
   border-radius: 0.25rem;
   border: 1px solid #e23e57;
   font-size: 0.75rem;
   padding: 0.5rem;
}
.project-code {
    text-decoration: none;
    color: #e23e57;
    font-weight: 600;
}

button:hover {
    background-image: linear-gradient(whitesmoke, #e23e57);
}

button .project-code:hover {
    color: white;
}

.project-content .project-text {
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 600px) {

    .projects-container {
        margin-left: 3rem;
        font-size: 1.25rem;
        margin-top: 110px;
        padding: 0 8rem;
    }

    .project-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin-bottom: 5rem;
    }

    .project-content .project-img {
        /* width: 640px; */
        border-radius: 1rem;
        width: 32rem;
        height: 24rem;
        /* height: 400px; */
    }

    .project-content .project-text {
        margin-right: 3rem;
        font-size: 1.25rem;
    }

    button {
        font-size: 1rem;
    }
}
